{% extends "base.html.twig" %}

{% block body %}
    <h1 class="my-4 animated zoomInUp">Principes du site</h1>
	
	<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0 subtitle">Tous les métiers d'artisans.</h2>	  

	<hr class="mt-2 mb-5">
	
	<p>
	Ce site est destiné à tous les artisans désireux de trouver des missions, par l'intermédiaire de clients, aux freelances désireux de faire la promotion de leur activité, ou tout autre indépendant 
	voulait aggrandir ou acquérir sa clientèle.
	</p>
	
	<p>
	Pour pouvoir publier votre annonce, il faut s'inscrire via notre formulaire d'inscription, présent à la page portant le même nom.
	</p>
	
	<p>
	Des métiers artistiques : les musiciens, les peintres, les acteurs, à la couture, le crochet, les métiers de l'informatique : technicien informatique, développeur web, développeur logiciel, référencement, gestion des réseaux sociaux,
	le graphisme : logo, flyers, webdesign, ou autres métiers de construction ou de réparation, ici rien n'est exclu tant que cela est justifié.
	</p>
	
	<p>
	Nous ne nous occupons pas de ce qui est de votre taxation, mais nous prenons la peine de vérifier votre identité, la validité de votre profil et de votre activité, nous pouvons être amenés à vous contacter pour vous poser des questions afin de 
	vérifier votre honnêteté si votre profil nous paraît suspect. Nous sommes également à votre disposition pour toute question. Notre site sert uniquement à mettre en avant vos projets afin de faire vivre votre activité.
	</p>    
	
{% endblock %}
