{% extends "base.html.twig" %}

{% block body %}
    <h1 class="my-4">Site de profil professionnel++</h1>		
    
	<div class="container" style="margin-bottom:225px;">
		<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0 subtitle">A la recherche de projets et/ou d'un emploi</h2>	

		Vous pouvez vous inscrire et décrire votre activité.
	</div>
{% endblock %}

